@model AspNetCore.Models.Member

@{
    ViewData["Title"] = "Confirm Delete";

    var currentPage = ViewBag.CurrentPage;
    var currentSort = ViewBag.CurrentSort;
    var currentFilter = ViewBag.CurrentFilter;
}

<div class="modal-dialog">
    <div class="modal-content" style="width:605px">
        <div class="modal-header">
            <h4>@ViewData["Title"]</h4><button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.x)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.x)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.y)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.y)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.case_code)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.case_code)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.confirmation_date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.confirmation_date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.municipality_code)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.municipality_code)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.municipality_name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.municipality_name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.age_bracket)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.age_bracket)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.gender)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.gender)
                </dd>
            </dl>

            <form asp-action="Delete"
                  asp-route-pageNumber="@currentPage"
                  asp-route-sortOrder="@currentSort"
                  asp-route-currentFilter="@currentFilter">
                <input type="hidden" asp-for="OID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
